@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    background-color: #042323;
}

.main{
    padding: 0 30px;
    position: relative;
    overflow-x: hidden;
    background: #232323;
}

.main .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.navbar .logo{
    color: #FFF;
    font-weight: 900;
    font-size: 27px;
    text-decoration: none;
    
}

.navbar .item{
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
    cursor: pointer;
}

.navbar .item.selected{
    color: #F0DF3A;
}

.navbar .item:not(:last-child){
    margin-right: 20px;
}

/* CONTAINER */

.main .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .img-ziki{
    object-fit: cover;   
    width: 788px;
    height: 1183px;
    position: relative;
    margin-left: -50%;
}

.container .name-2{
    position: absolute;
    margin: -400px 0 0 125px;
    color: transparent;
    -webkit-text-stroke: 1px #F0DF3A;
}

.container .text-header{
    margin-top: -400px;
    margin-left: -50px;
}

.container .sub-name{
    color: #FFF;
    font-size: 44px;
    font-weight: 400;
    line-height: normal;
}

.container .sub-name.sub-name-2{
    text-align: right;
}

.container .name, .name-2{
    color: #F0DF3A;
    font-size: 165px;
    letter-spacing: 31.35px;
    font-weight: 900;
    text-transform: uppercase;
    margin: -60px -37.35px -60px -5px;
}

.container .sub-name-2-high{
    position: absolute;
    margin: -209px -433px 0 0;
    color: #FFF;
}